<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminregister</servlet-name>
        <servlet-class>com.amrph.servlet.adminregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentregister</servlet-name>
        <servlet-class>com.amrph.servlet.studentregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.amrph.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.amrph.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDrivesServ</servlet-name>
        <servlet-class>com.amrph.servlet.addDrivesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailServ</servlet-name>
        <servlet-class>com.amrph.servlet.mailServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDrive</servlet-name>
        <servlet-class>com.amrph.servlet.deleteDrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLoginServ</servlet-name>
        <servlet-class>com.amrph.servlet.studentLoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordServ</servlet-name>
        <servlet-class>com.amrph.servlet.forgotPasswordServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPasswordServ</servlet-name>
        <servlet-class>com.amrph.servlet.newPasswordServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfilServ</servlet-name>
        <servlet-class>com.amrph.servlet.updateProfilServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateShortListedServ</servlet-name>
        <servlet-class>com.amrph.servlet.updateShortListedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addWebinarServ</servlet-name>
        <servlet-class>com.amrph.servlet.addWebinarServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteWebinar</servlet-name>
        <servlet-class>com.amrph.servlet.deleteWebinar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStudent</servlet-name>
        <servlet-class>com.amrph.servlet.LogoutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentProfileServ</servlet-name>
        <servlet-class>com.amrph.servlet.updateStudentProfileServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminregister</servlet-name>
        <url-pattern>/adminregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentregister</servlet-name>
        <url-pattern>/studentregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDrivesServ</servlet-name>
        <url-pattern>/addDrivesServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailServ</servlet-name>
        <url-pattern>/mailServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDrive</servlet-name>
        <url-pattern>/deleteDrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLoginServ</servlet-name>
        <url-pattern>/studentLoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordServ</servlet-name>
        <url-pattern>/forgotPasswordServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPasswordServ</servlet-name>
        <url-pattern>/newPasswordServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfilServ</servlet-name>
        <url-pattern>/updateProfilServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateShortListedServ</servlet-name>
        <url-pattern>/updateShortListedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addWebinarServ</servlet-name>
        <url-pattern>/addWebinarServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteWebinar</servlet-name>
        <url-pattern>/deleteWebinar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStudent</servlet-name>
        <url-pattern>/LogoutStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentProfileServ</servlet-name>
        <url-pattern>/updateStudentProfileServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
